.body__content {
  padding-top: 70px;
  padding-bottom: 60px;
  height: 100vh;

  overflow: scroll;
}

.body__content::-webkit-scrollbar {
  display: none;
}

.body__content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
